body {
  margin:0;
  padding:0;
  font-family: 'Segoe UI', sans-serif;
}
.auth-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/public/bac.jpg'); /* Adjust the path if needed */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff8e1;
}

.register-container {
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  background-size: cover;
  background-position: center;
  padding: 10px;
}

.register-form {
  width: 350px;
  max-height: 90vh;
  background-color: #ffffff;
  border: 2px solid #ff9800;
  border-radius: 10px;
  padding: 20px 25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-title {
  text-align: center;
  color: #e65100;
  margin-bottom: 20px;
  
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  
  padding: 8px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-color: #f1b964;
  outline: none;
  font-size: 12px;
}

.terms-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px 0px;
  background-color: #ff9800;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.social-login {
  text-align: center;
  margin-top: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
}

.social-icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9rem;
}

.login-link a {
  color: #e65100;
  text-decoration: underline;
  font-weight: bold;
}

@media (max-height: 600px) {
  .register-container {
    align-items: flex-start;
  }
  .register-form {
    margin-top: 20px;
  }
}
.form-group {
  margin-bottom: 10px; /* reduce spacing between fields */
}


